section {
  padding: 150px 0;
}
.dropdown:hover>.dropdown-menu{
  display: block;
}
.dropdown-menu{
  top: 85%;
}

body header.bg-primary,
body .bg-light,
#topmenu {
  background-color: black!important;
}

#headerIMG{
  height: 400px;
  background-image: url(https://www.silvercloud.com/images/bellevueeastgate/mastheads/dining.jpg);
}

#logo img{
  display: block;
  margin: 0 auto;
}

#topmenu{
  color: aliceblue;
  font-size: 10px
}